<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

	<!-- ログ出力ディレクトリ -->
	<property name="LogDir" value="./logs" />

	<!-- コンソールアペンダー（ANSIカラー） -->
	<appender name="ConsoleAnsiColorAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) %blue(%file{0}):%green(%line) %magenta(%method{24}) - %X{mdc}%boldBlue(%msg) %n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
	</appender>

	<!-- ルートロガー -->
	<root>
		<level value="INFO" />
		<appender-ref ref="ConsoleAnsiColorAppender" />
	</root>

</configuration>